<div class="grid-container">
  <div class="grid-x grid-padding-x">
        <div class="cell small-12" style="padding:40px;">
            <div class="callout" style="padding-bottom:0px" >
            <h3>Welcome to the Calendar</h3>
    
            <% if notice %>
                <%= notice %>
            <% end %>	
            <% if alert %>
                <%= alert %>
            <% end %>
            <p>Start by Logging in. <%= link_to("No account? sign up.", 'signup') %></p>
    
            <%= form_for :login do |f| %>
                <div>
                    <%= f.label :email %>
                    <%= f.text_field :email, autofocus: true %>
                </div>
                <div>
                    <%= f.label :password %>
                    <%= f.password_field :password %>
                </div>
                <div>
                    <%= f.submit "Log In", class:"button" %>
                </div>
            <% end %>
            </div>
        </div>
    </div>
</div>