<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <title>Calendar App</title>

        <%= stylesheet_link_tag    "application" %>
        <%= stylesheet_link_tag    "foundation.min.css" %>
        <%= stylesheet_link_tag    "foundation-icons" %>
        <%= stylesheet_link_tag    "all.css" %>
        <%= javascript_include_tag "jquery", 'data-turbolinks-track' => true %>
        <%= javascript_include_tag "foundation.min.js", 'data-turbolinks-track' => true %>
        <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
        <%= javascript_include_tag "init.js" %>
        <%= csrf_meta_tags %>
    </head>
    <body>

        <%= yield %>

    </body>
</html>
